
@font-face {
    font-family: 'myfont';
    src: url('/fonts/moonday/GloriaHallelujah-Regular.ttf') format('truetype');
}

body{
    font-family: 'myfont';
}


.jumbotron{
    /* background-image: url('https://media.giphy.com/media/o9ngTPVYW4qo8/giphy.gif');
    background-size: cover;
    background-position-y: 50%; */
    background: linear-gradient(to right,rgb(62, 225, 231),rgb(158, 233, 243),rgb(215, 246, 253) );
}

.jumboH1{
    font-size: 3rem;
}

.jumboSub{
    color: white;
    font-size: 1.5rem;
}

.navTitle{
    font-size: 2rem;
    
} 

.navigation {
    /* background-image: url('https://media.giphy.com/media/3oEjHVSUZWvTnNxQZ2/giphy.gif'); */
    background: url('https://media.giphy.com/media/26xBy4g1eHS1vqZRS/giphy.gif');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 120px;
    background-position-x: 100%;
    
    font-size: 1.5rem;
}


.dropdown{
    color:gray
}

.dropdown:hover{
    color:black
}

.dropdown-menu{
    background-color: rgb(250, 243, 235);
    background-image:url('https://media.giphy.com/media/3oz8xDzuVDbKoU4shi/giphy.gif') ;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: 50%;
    background-position-x: 100%;
}

.btn-search{
    background-color: rgb(113, 230, 200);
    color: white;
    border-color: rgb(16, 187, 135);
    font-size: 1.5rem;
}

.btn-search:hover{
    background-color: rgb(43, 198, 236);
    color: white;
    border-color:rgb(59, 238, 229);
}

.search-box{
    font-size: 1.5rem;
}

.search-box:focus{
    border: 3px solid rgb(51, 224, 167);

    box-shadow : 5px 5px rgb(59, 238, 229);
}

.buttonNavBar{
    border-width: 0px;
}

.buttonNavBar:focus{
    box-shadow : 5px 5px rgb(59, 238, 229);
    border-color: rgb(51, 224, 167);
    outline-color: rgb(113, 226, 156);
}

input[type="search"]::placeholder {  

    text-align: center; 
} 

.arrowImag{
   filter: invert(50%) sepia(13%) 
   saturate(3207%) hue-rotate(270deg) 
   brightness(100%) contrast(80%);

}

.letsDoit{
    filter: invert(50%) sepia(13%) 
    saturate(3207%) hue-rotate(210deg) 
    brightness(100%) contrast(80%);
}

.boxDiet{
    font-size: 2rem;


}

.ketoCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url('https://media.giphy.com/media/2WH727Ch7pNIqJUGBc/giphy.gif');
    background-color: green;
    color: white;
    box-shadow: 5px 5px rgb(162, 87, 231);
}

.CarnivoreCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url('https://media.giphy.com/media/YMYDwOPOzmcZmAeLDV/giphy.gif');
    background-color: brown;
    color: black;
    box-shadow: 5px 5px rgb(162, 87, 231);
}


.veganCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-image: url('https://media.giphy.com/media/JTUQvAw4w5zHNnnwoN/giphy.gif');
    background-color: rgb(30, 156, 114);
    color: black;
    box-shadow: 5px 5px rgb(162, 87, 231);
    font-weight: 900;
}

.regularCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url('https://media.giphy.com/media/WS0Qrv6G9i1TOR59su/giphy.gif');
    background-color: rgb(50, 168, 223);
    color:black;
    text-shadow: 2px cadetblue;
    box-shadow: 5px 5px rgb(162, 87, 231);
    font-weight: 900;
}

.whatsCardBody{
    background-color: rgb(167, 120, 243);
}

.whatsThisCard{
    font-size: 1.3rem;
    box-shadow: 5px 5px rgb(177, 118, 233);
}

.contSocialFooter{
    background-color: rgb(68, 231, 196);
}

.socialLinks a:link{
    color: white;
}

.socialLinks a:visited{
    color: white;
}

.socialLinks a:hover{
    color: rgb(26, 29, 204);
}

.contFooterLinks{
    background-color: rgb(220, 222, 224);
}

.footerDiet hr , .hrLetsDoThis{
    width: 100px;
    background-color: rgb(153, 241, 215);
}

.slideCardBody{
    background-color:rgb(246, 254, 255); 

    
}


.textDivCard{
    font-size: 2rem;
}

.carousel-item h5{
    font-size: 2rem;

}
#informativeCarouselFade{
    height: 300px;
    width: auto;
    overflow: auto;
    background-color: rgb(149, 250, 203);

}

#informativeCarouselFade img{
    height: 300px;
    width: auto;
    overflow: auto;
}

.stepForm {
    display: none;
}

.nameInput{
    background-color: rgba(42, 211, 211, 0.5);
}

.weightInput{
    background-color: rgb(113, 226, 156,0.5);
}


.ageInput{
    background-color: rgba(42, 211, 211, 0.5);
}



.sexInput{
    background-color: rgb(113, 226, 156,0.5);
}

.dietInput{
    background-color: rgba(42, 211, 211, 0.5);
}

.invalid {
    border: 2px solid rgb(201, 25, 25) !important;
}

#next-button:disabled{
    cursor: not-allowed;
}

.backarrow {
    color: rgb(62, 226, 199);

}

.backarrow:hover{
    cursor: pointer;
}