
@font-face {
    font-family: 'myfont';
    src: url('/fonts/moonday/GloriaHallelujah-Regular.ttf') format('truetype');
}

body{
    font-family: 'myfont';
}


.jumbotron{
    background-image: url('https://media.giphy.com/media/o9ngTPVYW4qo8/giphy.gif');
    background-size: cover;
    background-position-y: 50%;
}

.jumboH1{
    font-size: 3rem;
}

.jumboSub{
    color: white;
    font-size: 1.5rem;
}

.navTitle{
    font-size: 2rem;
} 

.navigation {
    /* background-image: url('https://media.giphy.com/media/3oEjHVSUZWvTnNxQZ2/giphy.gif'); */
    background-image: url('https://media.giphy.com/media/mRwX2ypdGtfa0/giphy.gif');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 50%;
    background-position-x: 120%;
    
    font-size: 1.5rem;
}


.dropdown{
    color:gray
}

.dropdown:hover{
    color:black
}

.dropdown-menu{
    background-image:url('https://media.giphy.com/media/3oEjHVSUZWvTnNxQZ2/giphy.gif') ;
}

.btn-search{
    background-color: palevioletred;
    color: white;
    border-color: pink;
    font-size: 1.5rem;
}

.btn-search:hover{
    background-color: rgb(162, 87, 231);
    color: white;
    border-color: pink;
}

.search-box{
    font-size: 1.5rem;
}

.search-box:focus{
    border: 3px solid pink;

    box-shadow : 5px 5px plum;
}

.buttonNavBar{
    border-width: 0px;
}

.buttonNavBar:focus{
    box-shadow : 5px 5px plum;
    border-color: palevioletred;
    outline-color: palevioletred;
}

input[type="search"]::placeholder {  

    text-align: center; 
} 

.arrowImag{
   filter: invert(50%) sepia(13%) 
   saturate(3207%) hue-rotate(270deg) 
   brightness(100%) contrast(80%);

}

.letsDoit{
    filter: invert(50%) sepia(13%) 
    saturate(3207%) hue-rotate(210deg) 
    brightness(100%) contrast(80%);
}

.boxDiet{
    font-size: 2rem;


}

.ketoCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url('https://media.giphy.com/media/2WH727Ch7pNIqJUGBc/giphy.gif');
    background-color: green;
    color: white;
    box-shadow: 5px 5px rgb(162, 87, 231);
}

.CarnivoreCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url('https://media.giphy.com/media/YMYDwOPOzmcZmAeLDV/giphy.gif');
    background-color: brown;
    color: black;
    box-shadow: 5px 5px rgb(162, 87, 231);
}


.veganCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-image: url('https://media.giphy.com/media/JTUQvAw4w5zHNnnwoN/giphy.gif');
    background-color: rgb(30, 156, 114);
    color: black;
    box-shadow: 5px 5px rgb(162, 87, 231);
    font-weight: 900;
}

.regularCard{
    border: 2px solid gray;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url('https://media.giphy.com/media/WS0Qrv6G9i1TOR59su/giphy.gif');
    background-color: rgb(50, 168, 223);
    color:black;
    text-shadow: 2px cadetblue;
    box-shadow: 5px 5px rgb(162, 87, 231);
    font-weight: 900;
}

.whatsCardBody{
    background-color: rgb(167, 120, 243);
}

.whatsThisCard{
    font-size: 1.3rem;
    box-shadow: 5px 5px rgb(177, 118, 233);
}

}


